body{
  background-color: rgb(230, 238, 236);
}

.coverpic{
width: 100%;
height: 120px;
}
.propic{
  width: 50%;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgb(224, 230, 230);
  margin-top: -60px;

}
.profilesection{
  flex-direction: column;
  align-items: center;
 
}
.bio{
  color:rgba(11, 17, 11, 0.5);   
}
.line{
  background-color:rgba(11, 17, 11, 0.5);
  height: 2px;
  width: 90%;
}
.colr{
  color:rgba(11, 17, 11, 0.5);   
  }

.profilebtn{
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-decoration: none;
  color: red;
  font-weight: bolder;
}    
.profilebtn:hover{
  color: rgb(199, 35, 35);
  
}
.peopleimg{
  width:30px;
  height: 30px;
  border-radius: 50%;
}
.peoples{
  width: 100%;
}
.lines{
  margin-top: 5px;
  background-color:rgba(11, 17, 11, 0.3);
  height: 2px;
  width: 100%;
}
.p-item{
  width: 100%;
}
.postdp{
  margin: 2%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.ownerpic{
  margin: 2%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.postimg{
  margin-left:5%;

  padding: 4px;
  width: 90%;
  height: 50vh;
}
.love{
  font-size: 20px;
}
.love:hover{
  color: red;
}
.addpost{
  height: 24vh;
}
.commentuserdp{
  
  width: 10%;
  height: 10vh;
  border-radius: 50%;
}
.leftside{
  position:fixed;
}
.friendbio{
  font-size: 14px;
  font-weight: 600;

}
.friendname{
  letter-spacing:1px;
}
.rightside{
  position: fixed;
  left: 75%;
}
.centerpage{
  margin-left: 25%;
}
